
/corpis-test/target
/corpis-payment-api/target
/corpis-payment/target
/corpis-lang-api/target
/corpis-import-export-api/target
/corpis-import-export/target
/corpis-domain-jpa/corpis-transportation-domain-jpa/target
/corpis-domain-jpa/corpis-stock-domain-jpa/target
/corpis-domain-jpa/corpis-search-domain-jpa/target
/corpis-domain-jpa/corpis-product-domain-jpa/target
/corpis-domain-jpa/corpis-price-domain-jpa/target
/corpis-domain-jpa/corpis-payment-domain-jpa/target
/corpis-domain-jpa/corpis-news-domain-jpa/target
/corpis-domain-jpa/corpis-manufacture-domain-jpa/target
/corpis-domain-jpa/corpis-invoice-domain-jpa/target
/corpis-domain-jpa/corpis-customer-domain-jpa/target
/corpis-domain-jpa/corpis-core-domain-jpa/target
/corpis-domain-generator-import/target
/corpis-domain-generator/target
/corpis-domain/corpis-core-domain-api/target
/corpis-domain/corpis-core-domain-model/target
/corpis-domain/corpis-customer-domain-model/target
/corpis-domain/corpis-invoice-domain-model/target
/corpis-domain/corpis-manufacture-domain-model/target
/corpis-domain/corpis-news-domain-model/target
/corpis-domain/corpis-payment-domain-model/target
/corpis-domain/corpis-price-domain-api/target
/corpis-domain/corpis-price-domain-model/target
/corpis-domain/corpis-product-domain-model/target
/corpis-domain/corpis-search-domain-model/target
/corpis-domain/corpis-stock-domain-model/target
/corpis-domain/corpis-transportation-domain-model/target
/corpis-domain/corpis-user-domain-model/target
/corpis-dao-impl/target
/corpis-dao-api/target
/corpis-application-scaffold/corpis-application-scaffold-model/target
/corpis-application-scaffold/corpis-application-scaffold-processors/corpis-application-scaffold-data-domain-model-coverter-processor/target
/corpis-application-scaffold/corpis-application-scaffold-processors/corpis-application-scaffold-data-domain-model-processor/target
/corpis-application-scaffold/corpis-application-scaffold-processors/corpis-application-scaffold-data-interface-processor/target
/corpis-application-scaffold/corpis-application-scaffold-processors/corpis-application-scaffold-data-service-converter-processor/target
/corpis-application-scaffold/corpis-application-scaffold-processors/corpis-application-scaffold-jpamodel-processor/target
/corpis-application-scaffold/corpis-application-scaffold-processors/corpis-application-scaffold-local-service-data-interface-processor/target
/corpis-application-scaffold/corpis-application-scaffold-processors/corpis-application-scaffold-mapbasedobject-processor/target
/corpis-application-scaffold/corpis-application-scaffold-processors/corpis-application-scaffold-model-base-processor/target
/corpis-application-scaffold/corpis-application-scaffold-support/corpis-application-scaffold-model-support/target
/corpis-annotation-supports/corpis-dao-api-support/target
/corpis-annotation-supports/corpis-dao-implementation-support/target
/corpis-annotation-supports/corpis-domain-model-hibernate-support/target
/corpis-annotation-supports/corpis-model-domain-configurations/target
/corpis-annotation-supports/corpis-service-converter-hibernate-support/target
/corpis-annotation-supports/corpis-service-support/target
/corpis-annotation-processors/corpis-dao-api-processor/target
/corpis-annotation-processors/corpis-dao-implementation-processor/target
/corpis-annotation-processors/corpis-data-dao-api-processor/target
/corpis-annotation-processors/corpis-data-dao-implementation-processor/target
/corpis-annotation-processors/corpis-domain-model-converter-hibernate-processor/target
/corpis-annotation-processors/corpis-domain-model-hibernate-processor/target
/corpis-annotation-processors/corpis-service-converter-hibernate-processor/target
/corpis-annotation-processors/corpis-service-local-interface-hibernate-processor/target
/corpis-annotation-apis/corpis-service-api/target
/corpis-scaffold/corpis-scaffold-model/target
/corpis-scaffold/corpis-scaffold-processors/corpis-scaffold-data-domain-model-coverter-processor/target
/corpis-scaffold/corpis-scaffold-processors/corpis-scaffold-data-domain-model-processor/target
/corpis-scaffold/corpis-scaffold-processors/corpis-scaffold-data-interface-processor/target
/corpis-scaffold/corpis-scaffold-processors/corpis-scaffold-data-service-converter-processor/target
/corpis-scaffold/corpis-scaffold-processors/corpis-scaffold-jpamodel-processor/target
/corpis-scaffold/corpis-scaffold-processors/corpis-scaffold-local-service-data-interface-processor/target
/corpis-scaffold/corpis-scaffold-processors/corpis-scaffold-mapbasedobject-processor/target
/corpis-scaffold/corpis-scaffold-processors/corpis-scaffold-model-base-processor/target
/corpis-scaffold/corpis-scaffold-support/corpis-scaffold-model-support/target